@tailwind base;
@tailwind components;

@font-face {
  font-family: 'figtree';
  src: local('figtree'), url(../../public/fonts/Figtree-VariableFont_wght.ttf) format('ttf');
}

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.wrapper {
  width: 620px;
  height: 820px;
}

.card {
  width: 400px;
  height: auto;
}

.content {
  width: 100%;
  height: 100%;
}

/* Add this CSS to style the scrollbar */
.info-card::-webkit-scrollbar {
  width: 12px;
}

.info-card::-webkit-scrollbar-thumb {
  background-color: rgb(21 128 61 / var(--tw-text-opacity)); /* Green color */
  border-radius: 10px;
  border: 3px solid #fff; /* White border */
}

.info-card::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray color */
  border-radius: 10px;
}

.info-card::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Light gray color */
}

/* Add this to your styles or use a stylesheet */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.relativeDiv:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.relativeDiv {
  position: relative;
  display: inline-block;
}